@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.drop-shadow {
  filter: drop-shadow(0px 0px 5px rgba(179, 179, 179, 0.4));
}

.testimonial-clip {
  clip-path: polygon(
    1.475% 7.67%,
    1.475% 7.67%,
    1.552% 6.713%,
    1.776% 5.805%,
    2.133% 4.958%,
    2.613% 4.185%,
    3.203% 3.498%,
    3.89% 2.908%,
    4.663% 2.428%,
    5.51% 2.071%,
    6.418% 1.847%,
    7.375% 1.77%,
    58.997% 1.77%,
    58.997% 1.77%,
    59.954% 1.847%,
    60.862% 2.071%,
    61.708% 2.428%,
    62.481% 2.908%,
    63.169% 3.498%,
    63.758% 4.185%,
    64.238% 4.958%,
    64.596% 5.805%,
    64.82% 6.713%,
    64.897% 7.67%,
    64.897% 22.714%,
    64.897% 22.714%,
    64.974% 23.671%,
    65.198% 24.579%,
    65.555% 25.425%,
    66.035% 26.198%,
    66.625% 26.886%,
    67.312% 27.475%,
    68.085% 27.955%,
    68.932% 28.313%,
    69.839% 28.536%,
    70.796% 28.614%,
    90.265% 28.614%,
    90.265% 28.614%,
    91.222% 28.691%,
    92.13% 28.914%,
    92.977% 29.272%,
    93.75% 29.752%,
    94.437% 30.342%,
    95.027% 31.029%,
    95.507% 31.802%,
    95.864% 32.648%,
    96.088% 33.556%,
    96.165% 34.513%,
    96.165% 90.56%,
    96.165% 90.56%,
    96.088% 91.517%,
    95.864% 92.425%,
    95.507% 93.272%,
    95.027% 94.045%,
    94.437% 94.732%,
    93.75% 95.322%,
    92.977% 95.802%,
    92.13% 96.159%,
    91.222% 96.383%,
    90.265% 96.46%,
    7.375% 96.46%,
    7.375% 96.46%,
    6.418% 96.383%,
    5.51% 96.159%,
    4.663% 95.802%,
    3.89% 95.322%,
    3.203% 94.732%,
    2.613% 94.045%,
    2.133% 93.272%,
    1.776% 92.425%,
    1.552% 91.517%,
    1.475% 90.56%,
    1.475% 7.67%
  );
}
