@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f7;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f7f7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.drop-shadow {
  filter: drop-shadow(0px 0px 5px rgba(179, 179, 179, 0.4));
}

.hero-clip {
  clip-path: polygon(
    100% 3.342%,
    100% 3.342%,
    99.98% 2.8%,
    99.923% 2.285%,
    99.831% 1.806%,
    99.708% 1.368%,
    99.556% 0.979%,
    99.379% 0.645%,
    99.181% 0.373%,
    98.963% 0.17%,
    98.73% 0.044%,
    98.485% 0%,
    31.364% 0%,
    26.287% 0%,
    26.287% 0%,
    26.048% 0.044%,
    25.822% 0.17%,
    25.611% 0.373%,
    25.418% 0.644%,
    25.247% 0.978%,
    25.1% 1.367%,
    24.98% 1.804%,
    24.891% 2.284%,
    24.835% 2.797%,
    24.816% 3.339%,
    24.816% 11.018%,
    24.816% 11.018%,
    24.797% 11.56%,
    24.741% 12.074%,
    24.652% 12.553%,
    24.532% 12.99%,
    24.385% 13.379%,
    24.214% 13.713%,
    24.021% 13.985%,
    23.81% 14.187%,
    23.584% 14.314%,
    23.346% 14.357%,
    1.471% 14.357%,
    1.471% 14.357%,
    1.232% 14.401%,
    1.006% 14.527%,
    0.795% 14.73%,
    0.602% 15.001%,
    0.431% 15.335%,
    0.284% 15.724%,
    0.164% 16.162%,
    0.075% 16.641%,
    0.019% 17.155%,
    0% 17.696%,
    0% 96.658%,
    0% 96.658%,
    0.02% 97.2%,
    0.077% 97.715%,
    0.169% 98.194%,
    0.292% 98.632%,
    0.444% 99.021%,
    0.62% 99.355%,
    0.819% 99.627%,
    1.036% 99.83%,
    1.269% 99.956%,
    1.515% 100%,
    98.485% 100%,
    98.485% 100%,
    98.73% 99.956%,
    98.963% 99.83%,
    99.181% 99.627%,
    99.379% 99.355%,
    99.556% 99.021%,
    99.708% 98.632%,
    99.831% 98.194%,
    99.923% 97.715%,
    99.98% 97.2%,
    100% 96.658%,
    100% 3.342%
  );
}

.testimonial-clip {
  clip-path: polygon(
    1.475% 7.67%,
    1.475% 7.67%,
    1.552% 6.713%,
    1.776% 5.805%,
    2.133% 4.958%,
    2.613% 4.185%,
    3.203% 3.498%,
    3.89% 2.908%,
    4.663% 2.428%,
    5.51% 2.071%,
    6.418% 1.847%,
    7.375% 1.77%,
    58.997% 1.77%,
    58.997% 1.77%,
    59.954% 1.847%,
    60.862% 2.071%,
    61.708% 2.428%,
    62.481% 2.908%,
    63.169% 3.498%,
    63.758% 4.185%,
    64.238% 4.958%,
    64.596% 5.805%,
    64.82% 6.713%,
    64.897% 7.67%,
    64.897% 22.714%,
    64.897% 22.714%,
    64.974% 23.671%,
    65.198% 24.579%,
    65.555% 25.425%,
    66.035% 26.198%,
    66.625% 26.886%,
    67.312% 27.475%,
    68.085% 27.955%,
    68.932% 28.313%,
    69.839% 28.536%,
    70.796% 28.614%,
    90.265% 28.614%,
    90.265% 28.614%,
    91.222% 28.691%,
    92.13% 28.914%,
    92.977% 29.272%,
    93.75% 29.752%,
    94.437% 30.342%,
    95.027% 31.029%,
    95.507% 31.802%,
    95.864% 32.648%,
    96.088% 33.556%,
    96.165% 34.513%,
    96.165% 90.56%,
    96.165% 90.56%,
    96.088% 91.517%,
    95.864% 92.425%,
    95.507% 93.272%,
    95.027% 94.045%,
    94.437% 94.732%,
    93.75% 95.322%,
    92.977% 95.802%,
    92.13% 96.159%,
    91.222% 96.383%,
    90.265% 96.46%,
    7.375% 96.46%,
    7.375% 96.46%,
    6.418% 96.383%,
    5.51% 96.159%,
    4.663% 95.802%,
    3.89% 95.322%,
    3.203% 94.732%,
    2.613% 94.045%,
    2.133% 93.272%,
    1.776% 92.425%,
    1.552% 91.517%,
    1.475% 90.56%,
    1.475% 7.67%
  );
}



/* UseScrollEffect Hook css */
.section {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

/* Animated state */
.section.visible {
  opacity: 1;
  transform: translateY(0);
}